// ---------- Mixins ----------
.border-radius (@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}
.transition (@prop, @duration) {
	-moz-transition: @prop @duration;
	-o-transition: @prop @duration;
	-webkit-transition: @prop @duration;
	transition: @prop @duration;
}

// ---------- Baby ----------

A {
	text-decoration: none;
}
INPUT[type="submit"],INPUT[type="button"] {
	&:hover {
		text-decoration: none;
	}
}

#hotButtons {
	INPUT[type=button][value="+"] {
		padding: 0px 10px 2px 10px;
		font: @font-large;
		font-weight: bold;
	}
}

.CtrlArr {
	.AddBtn {
		margin-top: 10px;
	}
}

.PlainList {
	list-style: none;
	margin: 0;
	padding: 0;
}

UL.Journal {
	list-style: none;
	display: block;
	padding: 0;
	margin: 1em 0 0;
	border-top: solid 1px #999;

	LI {
		display: block;
		margin: 1em 0 0;
		
		A {
			text-decoration: none;
		}
		
		.EntryPhoto IMG {
			margin: 0.5em 0 0;
		}
	}
}

.PhotoGrid {
	TD {
		text-align: center;
	}
}
.SmartPhone .PhotoGrid {
	width: 100%;
}

.LargeImage {
	position: relative;
	display: inline-block;
	text-align: center;
	
	.PrevWrapper, .NextWrapper {
		position: absolute;
		top: 50%;
		
		.Prev, .Next {
			position: relative;
			display: none;
			top: -40px;
			height: 80px;
			width: 33px;
			background: transparent no-repeat center center;
			outline: none;
		}
	
		.Prev {
			background-image: url("/baby/res/baby/image-prev.png");
		}
		
		.Next {
			background-image: url("/baby/res/baby/image-next.png");
		}
	}
	.PrevWrapper {
		left: 0;
	}
	.NextWrapper {
		right: 0;
	}
	
	&:hover {
		.Prev, .Next {
			display: block;
		}
	}
}
.MSIE_7 .LargeImage {
	display: inline;
}
.Mobile .LargeImage {
	.Prev, .Next {
		display: block;
	}
}

.TimelineBar {
	A {
		width: 15px;
		margin-right: 4px;
		font-size: 8pt;
		display: inline-block;
		background-color: @color-background-dark;
		text-align:center;
		padding: 10px 1px;
		text-decoration: none;
		color: inherit;
		&.Current {
			background: @color-accent;
			color: @color-background;
		}
		&:hover {
			background: @color-hover;
			color: @color-background;
		}
	}
}

#KickCounter {
	#BigLED {
		padding: 0.2em 1em 0.5em;
		background-color: #1C1C1C;
		color: #BADA55;
		font-weight: bold;
		text-align: center;
	    .border-radius(7px);
	    	
	  	#Countdown {
			font-size: 3em;
	  	}
	  	#Kicks {
			font-size: 1.5em;
	  	}
	}
	
	#Buttons {
		padding-top: 1em;

		INPUT[name="stop"], 
		INPUT[name="count"], 
		INPUT[name="save"] {
			display: none;
		}
		
		INPUT[name="start"] {
			background-color: #007000;
		}
	}
}

//
// Subtabs
//

.Subtabs {
	width: 100%;
	text-align: center;
	> DIV {
		width: 33%;
		height: 125px;
		margin-top: 5px;
		float: left;
		text-align: center;
		font-size: 8pt;
	}
	> BR {
		clear: both;
	}
}

//
// Big Calendar
//

.Computer .BigCalendar {
	TD.Day > * {
		width: 50px; height: 50px;
	}
}
.SmartPhone .BigCalendar {
	width: 100%;
	.Number {
		display: inline;
		float: right;
	}
	TD.Day > * {
		width: 40px; height: 22px;
		&:hover {
			color: @color-text;
			background-color: transparent;
		}
	}
//	.Month {
//		font: @font-normal;
//	}
}

//
// Checklist
//

.Checklist {
	margin-bottom: 1.4em;
	B {
		color: @color-accent;
	}
	IMG {
		margin-top: 1px;
		width: 16px;
		height: 16px;
		background-position: center center;
		background-repeat: no-repeat;
		&.Expanded {
			background-image: url("collapse.png");
			&:hover {
				background-image: url("collapse-hover.png");
				cursor: hand;
				cursor: pointer;
			}
		}
		&.Collapsed {
			background-image: url("expand.png");
			&:hover {
				background-image: url("expand-hover.png");
				cursor: hand;
				cursor: pointer;
			}
		}
	}
	> TABLE:last-child {
		padding-top: 2px;
		padding-left: 20px;
	}
	.Checkitems TD {
		padding-top: 0.25em;
		A {
			display: inline-block;
			padding-left: 18px;
			margin-left: 10px;
			background: url("checkitem-link.png") no-repeat left center;
			background-size: 16px 16px;
		}
	}
	.MoreLink {
		color: @color-text-light;
		font: @font-small;
		cursor: hand;
		cursor: pointer;
	}
	.Overdue {
		color: @color-error;
	}
	.Complete {
		color: @color-accent;
	}
}

.AddToChecklist {
	margin: 0px 22px;
}
.SmartPhone .AddToChecklist {
	text-align: center;
}

//
// Timeline slider
//

.Slider {
	margin-bottom: 0.5em;
	TD {
        padding: 0px;
	}
	TR.BarLabels > TD {
        text-align:center;
        font: @font-small;
        padding-top: 0.6em;
        &.Current {
        	font-weight: bold;
        	color: @color-accent;
        }
        A {
         	color: @color-text;
         	&:hover {
         		color: @color-hover;
         	}
        }
	}
	TR.Bar > TD {
        text-align:center;
        vertical-align: center;

    	&.LeftEnd {
	        background: url("timeline-left.png") no-repeat left center;
	        background-size: 10px 30px;
	        width: 10px;
	    }
	    &.RightEnd {
	        background: url("timeline-right.png") no-repeat right center;
	        background-size: 10px 30px;
	        width: 10px;
	    }
	    &.Stop {
	        background: url("timeline-bg.png") repeat-x center center;
	        background-size: 100px 30px;
	        height: 30px;
	    }
	    IMG.Hide {
	    	visibility: hidden;
	    }
	}
	.Title {
		width: 100%;
		TD {
			vertical-align: middle;
			&.Prev A {
				display: inline-block;
				padding: 20px 0px 20px 50px;
		        background: url("timeline-arrow-left.png") no-repeat left center;
		        background-size: 60px 60px;
		        &:hover {
		        	background-image: url("timeline-arrow-left-hover.png");
		        }
			}
			&.Next A {
				display: inline-block;
				padding: 20px 50px 20px 0px;
		        background: url("timeline-arrow-right.png") no-repeat right center;
		        background-size: 60px 60px;
		        &:hover {
		        	background-image: url("timeline-arrow-right-hover.png");
		        }
			}
		}
	}
}
.SmartPhone .Slider {
	.Title {
		TD.Prev A {
			padding: 5px 0px 5px 20px;
			font: @font-small;
			background-size: 30px 30px;
		}
		TD.Next A {
			padding: 5px 20px 5px 0px;
			font: @font-small;
			background-size: 30px 30px;
		}
		H2 {
			font: @font-normal;
		}
	}
	TR.BarLabels > TD {
        font-size: 6pt;
    }
}
.Computer .Slider {
	TD.Prev {
		border-right: 1px solid @color-accent;
	}
	TD.Next {
		border-left: 1px solid @color-accent;
	}
	TD.Stop {
		cursor: hand;
		cursor: pointer;
	}
}

//
// Articles
//

.ArticleList {
	IMG {
		border: solid 1px @color-text-light;
		padding: 2px;
	}
	A.MoreLink {
		font: @font-small;
		color: @color-text-light;
		&:hover {
			color: @color-hover;
		}
	}
}
.Article {
	IMG {
		border: solid 1px @color-text-light;
		padding: 2px;
	}
	TABLE {
		width: 100%;
	}
	TH {
		background-color: @color-negative-background;
		color: @color-negative-text;
		font-weight: normal;
		padding: 2px;
	}
	TD {
		background-color: @color-background-dark;
		padding: 2px;
	}
	.Subsection {
		background-color: @color-secondary-accent;
		color: @color-background;
		padding: 1px 5px;
		margin-bottom: 0.5em;
		text-align: center;
	}
	H3 {
		color: @color-accent;
	}
}
.SmartPhone .Article {
	TH, TD {
		font: @font-small;
		padding: 1px;
	}
}

.Computer .ArticleSearchBox {
	position: relative;
	top: -42px;
	height: 0px;
	text-align: right;
}
.SmartPhone .ArticleSearchBox {
	display: none;
}

//
// TabBar
//

.Computer .TabBar {
	.Tab {
		width: 100px;
		vertical-align: middle;
		&.Current {
			background-image: none;
			background-color: @color-secondary-accent;
			&.Home, &:only-child {
				background: none;
			}
		}
		text-transform: capitalize;
		&.Home {
			padding-right: 20px;
		}
	}
}

//
// Layout
//

#footer {
	color: @color-text-light;
	background: @color-background;
	A {
		color: @color-text-light;
		&:hover {
			color: @color-hover;
		}
	}
}
#footer TABLE {
	border-top: dotted 1px @color-background-dark;
	padding: 15px 30px;
}

.Computer {
	#layout {
		width: 980px;
		margin:auto;
	}
	#header {
		background-image: none;
		height: 60px;
		padding-left: 30px;
		padding-right: 30px;
	}
	#page, #navbar {
		padding: 15px 30px;
	}
	.Inner {
		width: 100%;
	}
	.TabBar .Links {
		padding-top: 8px;
	}
	.TabBar .Tab.Home {
		padding-right: 60px;
	}
}

//
// Home page
//

BODY[uri="/"].Computer {
	H1 {
		display: none;
	}
	#colored {
		color: @color-background;
		background-color: @color-accent;
		> TBODY > TR > TD:first-child {
			padding: 10px 30px;
		}
		A {
			font-weight: bold;
			color: @color-background;
			&:hover {
				color: @color-hover;
			}
		}
	}
	#spiel {
		H2 {
			color: @color-background;
			text-transform: uppercase;
		}
	}
	#loginframe {
		margin: 0px 60px 0px 0px;
		padding: 15px;
		background-color: @color-background;
		color: @color-text;
		A {
			color: @color-link;
			&:hover {
				color: @color-hover;
			}
		}
	}
	#benefits {
		margin: 0px 30px;
		TD {
			border-right: dashed 1px @color-text-light;
			padding: 10px;
			&:last-child {
				border: none;
				padding-right: 0px;
			}
			&:first-child {
				padding-left: 0px;
			}
			BIG {
				text-transform: uppercase;
			}
		}
	}
	#page {
		padding: 0px 0px 15px 0px;
	}
}
BODY[uri="/"].SmartPhone {
	H2 {
		color: @color-background;
		text-transform: uppercase;
		padding: 0px;
		margin: 0px;
	}
	#colored {
		color: @color-background;
		background-color: @color-accent;
		padding: 5px;
		margin-bottom: 4px;
		A {
			color: @color-background;
		}
	}
	#loginframe {
		margin-bottom: 4px;
	}
	#registerframe {
		text-align: center;
		margin-bottom: 4px;
	}
	#benefits {
		margin: 0px 5px;
		BIG {
			text-transform: uppercase;
		}
	}
	#page {
		padding: 0px;
	}
}

// Help is currently unavailable
#LinkHelp {
	display: none;
}

//
// Navbar
//

BODY[uri="/"], BODY[uri="/join"], BODY[uri="/profile"] {
	#navbar {
		display: none;
	}
}
BODY[uri^="/setup"] {
	.NavTree UL UL {
		list-style-type: decimal;
	}
}

.Computer #navbar {
	width:240px; min-width:240px;
}

.Computer .NavTree LI {
	padding-bottom: 2px;
}
.iPad .NavTree LI {
	padding-bottom: 5px;
}

//
// Journal page
//

#EntryInputs {
	overflow: hidden;
	display: none;
		
	&.Show {
		display: block;
	}
	
	#EntryInputsHelp {
		white-space: nowrap;
	}
}

#JournalListContainer {
	margin-top: 0.5em;
}

.JournalList {
	.DateHeading {
		padding: 0.8em 0 0.2em;
		font-weight: bold;
		color: @color-accent;
	}
	
	.ListItem {
		position: relative;
		border: 1px outset @color-background-dark;
		margin: 10px 0;
		overflow: hidden;
		clear: both;
        
        .EditButton {
        	position: absolute;
        	right: 0;
        	top: 0;
        	visibility: hidden;
        	padding: 2px 5px;
        	background-color: @color-background;
        	border-left: 1px outset @color-background-dark;
        	border-bottom: 1px outset @color-background-dark;
        	
        	&.Show {
        		visibility: visible;
        	}
        }
        &:hover .EditButton {
        	visibility: visible;
        }
        
        .Photo {
        	float: left;
        	margin: 0.5em;
        }
        
        .RecordsAndText {
        	margin: 0.5em;
        	
        	.Records {
        		margin-bottom: 0.5em;
        	}
        }
	}
}
.SmartPhone .JournalList {
	.DateHeading {
		padding: 0.2em 0;
	}
	
	.ListItem {
		margin: 5px 0;
		
		&:hover .EditButton {
			visibility: hidden;
			
			&.Show {
				visibility: visible;
			}
		}
	}
}
	
.JournalShowMoreButton {
	margin-top: 0.5em;
	
	A {
		display: block;
		border: 1px outset @color-background-dark;
		color: @color-accent;
		font-weight: bold;
		text-align: center;
		line-height: 2;
	}
}