// ---------- Mixins ----------
.border-radius (@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}
.background-gradient-top (@from, @to) {
	background-color: @from;
  background-image: -moz-linear-gradient(top, @from 0%, @to 100%);
  background-image: -o-linear-gradient(top, @from 0%, @to 100%);
  background-image: -webkit-linear-gradient(top, @from 0%, @to 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, @from 0%), color-stop(1, @to 100%));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=@from 0%, EndColorStr=@to 100%)";
  background-image: linear-gradient(top, @from 0%, @to 100%);
}

// ---------- Baby ----------
.SmartPhone #footer {
	display: none;
}

.ChecklistOverdue {
	background-color: @color-error;
	color: @color-background;
	display: inline-block;
	.border-radius(4px);
	padding: 0px 5px;
}
.ChecklistComplete {
	background-color: @color-accent;
	color: @color-background;
	display: inline-block;
	.border-radius(4px);
	padding: 0px 5px;
}

.PlainList {
	list-style: none;
	margin: 0;
	padding: 0;
}

UL.Journal {
	list-style: none;
	display: block;
	padding: 0;
	margin: 1em 0 0;
	border-top: solid 1px #CCC;

	LI {
		display: block;
		padding: 1em 0 0;
		
		A {
			text-decoration: none;
		}
		
		.EntryPhoto IMG {
			padding: 0.5em 0 0;
		}
	}
}

TABLE.PhotoGrid TD {
	text-align: center;
}

.LargeImage {
	position: relative;
	display: inline-block;
	text-align: center;
	
	.PrevWrapper, .NextWrapper {
		position: absolute;
		top: 50%;
		
		.Prev, .Next {
			position: relative;
			display: none;
			top: -40px;
			height: 80px;
			width: 33px;
			background: transparent no-repeat center center;
			outline: none;
		}
	
		.Prev {
			background-image: url("/baby/res/baby/image-prev.png");
		}
		
		.Next {
			background-image: url("/baby/res/baby/image-next.png");
		}
	}
	.PrevWrapper {
		left: 0;
	}
	.NextWrapper {
		right: 0;
	}
	
	&:hover {
		.Prev, .Next {
			display: block;
		}
	}
}
.MSIE_7 .LargeImage {
	display: inline;
}
.Mobile .LargeImage {
	.Prev, .Next {
		display: block;
	}
}

.TimelineBar {
	A {
		width: 15px;
		margin-right: 4px;
		font-size: 8pt;
		display: inline-block;
		background-color: @color-background-dark;
		text-align:center;
		padding: 10px 1px;
		text-decoration: none;
		color: inherit;
		&.Current {
			background: @color-accent;
			color: @color-background;
		}
		&:hover {
			background: @color-hover;
			color: @color-background;
		}
	}
}

#KickCounter {
	#BigLED {
		padding: 0.2em 1em 0.5em;
		background-color: #1C1C1C;
		color: #BADA55;
		font-weight: bold;
		text-align: center;
    .border-radius(7px);
    	
  	#Countdown {
			font-size: 3em;
  	}
  	#Kicks {
			font-size: 1.5em;
  	}
	}
	
	#Buttons {
		padding-top: 1em;

		INPUT[name="stop"], 
		INPUT[name="count"], 
		INPUT[name="save"] {
			display: none;
		}
		
		INPUT[name="start"] {
			background-color: #007000;
		}
	}
}

.Checklist {
	B {
		color: @color-accent;
	}
	IMG {
		margin-top: 1px;
		width: 16px;
		height: 16px;
		background-position: center center;
		background-repeat: no-repeat;
		&.Expanded {
			background-image: url("collapse.png");
			&:hover {
				background-image: url("collapse-hover.png");
				cursor: hand;
				cursor: pointer;
			}
		}
		&.Collapsed {
			background-image: url("expand.png");
			&:hover {
				background-image: url("expand-hover.png");
				cursor: hand;
				cursor: pointer;
			}
		}
	}
	> TABLE:last-child {
		padding-top: 2px;
		padding-left: 20px;
	}
}

.CalendarBadges{
  font-size: 0.72em;
  line-height: 1.8;
  
	.CalendarBadge {
		display: inline-block;
		width: 16px;
		height: 16px;
    
		&.Photo {
			background: transparent url("picture.png") no-repeat center center;
	  }
		&.Text {
			background: transparent url("text.png") no-repeat center center;
	  }
		&.MeasureRecord {
			background: transparent url("measure-record.png") no-repeat center center;
		}
		&.ChecklistDue {
			background: transparent url("text.png") no-repeat center center;
		}
		&.AppointmentDue {
			background: transparent url("text.png") no-repeat center center;
		}
	}
}

// Home page
BODY[uri="/"].Computer {
	H1, #navbar {
		display: none;
	}
	#spiel {
		H2 {
			font: @font-huge;
		}
		font: @font-large;
	}
	#loginframe {
		.border-radius(10px);
		border: solid 1px @color-text-light;
		background-color: rgba(0,0,0,0.1);
		padding: 30px 0px 15px 0px;
		margin-top: 15px;
	}
}
BODY[uri="/"].SmartPhone {
	#loginframe {
		border-top: 1px solid @color-text-light;
		border-bottom: 1px solid @color-text-light;
		background-color: @color-background-dark;
		padding: 5px 0px;
		margin: 10px 0px;
	}
}
